<!DOCTYPE html>
<html>
  <head>
    <title>Bmi Calculator</title>
  </head>
  <body>
    <h1>Lets Check you BMI</h1>
    <form method="POST">
      <label>Enter your weight</label><br />
      <input type="number" name="weight" required /><br /><br />

      <label>Enter your height</label><br />
      Feet: <input type="number" name="feet" required /> Inches:
      <input type="number" name="inches" required /><br /><br />
      <button type="submit">Calculate</button>
    </form>
    <button onclick="location.href='/'">Go Back to Homepage</button>

    {% if bmi_result %}
    <h2>Output:</h2>
    <p>{{ bmi_result }}</p>
    {% endif %}
  </body>
</html>
